/* SEARCH */
.tb-search {
  background-color: transparent !important;
  color: #676767 !important;
  position: absolute;
  top: 35px;
  transform: translate(0,-25%);
  right: 15px;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.tb-search-inner {
  top: 20% !important;
}

.screen-reader-text {
  display: none;
}

@media (max-width: 576px) { 
  .tb-search {
    position: inherit;
  }
}