li.event {
  border-top: 1px solid black;
  padding: 1em 0;
}

li.event:first-child {
  border: none;
}

.event-list 
.startdate, 
.event-list 
.enddate {
  background-color: transparent!important; 
}

.event-content {
  font-size: inherit!important;
}

.hlist {
  padding-left: 0;
}