/* SEARCH FORM */
.search-box {
  font-size: 25pt;
  font-weight: 500;
  width: 100%;
  display: -webkit-flex;
  border-bottom: 1px solid black;
}

#searchform input {
  padding: 0 5px;
  font-style: italic;
  background: transparent;
  border: none;
  -webkit-flex: 1;
}

#search-button {
  background-image: url(../icons/search.svg);
  background-color: transparent;
  background-size: 100% 100%;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: .5;
}

#search-button:hover {
  opacity: 1;
  transition: 500ms;
}

/* SEARCH */
.menu-search {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}
.search-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 992px;
}

.search-close {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.icon-cancel {
  background-image: url(../icons/close.svg);
  background-color: transparent;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .menu-search .search-field {
    font-size: 12pt;
  }
}
@media screen and (max-width: 576px) {
  .menu-search .search-field {
    font-size: 10pt;
  }
  .search-close {
    top: 20px;
    right: 20px;
  }
  
  #searchform input {
    font-size: 16pt;
  }
}